# Lantern Configuration

[lantern]
language = "zh-TW"
output_dir = ".lantern"

[filter]
exclude = [
    "**/__pycache__/*", 
    "**/.git/*", 
    "**/node_modules/*", 
    "**/.venv/*", 
    "**/.idea/*", 
    "**/.vscode/*",
    "**/.lantern/*",
    "**/.mypy_cache/*",
    "**/tests/*",
    "**/.*/*",
    "**__init__.py"
]

[backend]
type = "ollama"
ollama_model = "llama3"
ollama_url = "http://localhost:11434"

